{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=!, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">

    {% include 'sidebar.html' %}
       <div class="main-content">
        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="search">
            </div>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
           
        </header>
        <main>
            <h2 class="dash-title">services plus sollicites</h2>
            <div class="dash-cards">
                    <div class="img">
                        <img class="card-single" src="{% static 'img/coiffure-femme-noire-metis-hairstyles-black-women-1.jpg' %}" alt="">
                        <h4>manicure</h4><br>
                    </div>

                    <div class="img">
                        <img class="card-single" src="{% static 'img/coiffure-femme-noire-metis-hairstyles-black-women-1.jpg' %}"  alt="">
                        <h4>manicure</h4><br>
                    </div>

                    <div class="img">
                        <img class="card-single" src="{% static 'img/coiffure-femme-noire-metis-hairstyles-black-women-1.jpg' %}"  alt="">
                        <h4>manicure</h4><br>
                    </div>

                    <div class="img">
                        <img class="card-single" src="{% static 'img/coiffure-femme-noire-metis-hairstyles-black-women-1.jpg' %}" alt="">
                        <h4>manicure</h4><br>
                    </div>             
                 
            </div>
            <button onclick="document.getElementById('id03').style.display='block'">modifier</button>


            
            <section class="recent">
                <div class="activity-grid">
                        
                    <div class="activity-card">
                        <h3>liste desproduis et prix</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>intitule</th>
                                    <th>montant</th>
                                    <th>description</th>
                                    <th>modifier</th>

                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                        <td>soins visage vip</td>
                                        <td>12343546</td>
                                        <td>pour eclat de votre visage</td>
                                        <td><button onclick="document.getElementById('id01').style.display='block'">modifier</button></td>
                                    
                                </tr>
                                <tr>
                                    <td>soins visage vip</td>
                                    <td>12343546</td>
                                    <td>pour eclat de votre visage</td>
                                    <td><button onclick="document.getElementById('id01').style.display='block'">modifier</button></td>
                                
                            </tr>
                            <tr>
                                <td>soins visage vip</td>
                                <td>12343546</td>
                            
                            </tr>
                            <tr>
                                <td>soins visage vip</td>
                                <td>12343546</td>
                            
                        </tr>
                        <tr>
                            <td>soins visage vip</td>
                            <td>12343546</td>
                        
                        </tr>
                            </tbody>
                        </table>
                    </div> 
               
                </div>

                <div id="id01" class="modal">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">fermer</span>
                    <form class="modal-content" action="">
                      <div class="container">
                        <h6>Remplissez moi</h6>
                       
                       
                        <label for="telephone"><b>prix</b></label>
                        <input type="text" placeholder="Entrer numero telephone client" name="telephone" required>
                  
                        <label for="nom"><b>intitule</b></label>
                        <input type="text" placeholder="Entrer le nom du client" name="nom" required>
        
                  
                        
                        <div class="clearfix">
                          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                          <button type="submit" class="signup">enregistre</button>
                        </div>
                      </div>
                    </form>
                  </div>


                  <div id="id02" class="modal">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">fermer</span>
                    <form class="modal-content" action="">
                      <div class="container">
                        <h6>Remplissez moi</h6>
                       
                       
                        <label for="telephone"><b>prix</b></label>
                        <input type="text" placeholder="Entrer numero telephone client" name="telephone" required>
                  
                        <label for="nom"><b>intitule</b></label>
                        <input type="text" placeholder="Entrer le nom du client" name="nom" required>

                        <label for="description"><b>description</b></label>
                        <input type="text" placeholder="Entrer les details du service" name="description" required>

                        
        
                  
                        
                        <div class="clearfix">
                          <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                          <button type="submit" class="signup">enregistre</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div id="id03" class="modal">
                    <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">fermer</span>
                    <form class="modal-content" action="" method="post">
                      <div class="container">
                        <h6>Remplissez moi</h6>
                       
                       
                        <label for="title"><b>intitule de la photo</b></label>
                        <input type="text" placeholder="Entrer l'intitule" name="title" required>
                  
                        <label for="file"><b>image</b></label>
                        <input type="file" placeholder="Entrer la photo" name="file" required>
        
                  
                        
                        <div class="clearfix">
                          <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
                          <button type="submit" class="signup">enregistre</button>
                        </div>
                      </div>
                    </form>
                  </div>
            </section>

            <button onclick="document.getElementById('id02').style.display='block'">Ajouter</button>
        </main>
       </div>
   
       <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        // Get the modal
        var modal = document.getElementById('id02');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        // Get the modal
        var modal = document.getElementById('id03');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
</body>
</html>